// Body
$base-font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size:   18px
$base-font-weight: 400
$small-font-size:  $base-font-size * 0.875
$base-line-height: 1.6

// Colors
$bg-color:         #000
$text-color:       #e8e8e8

$brand-prime:      #80262d
$brand-second:     #286abc

$grey-color:       #282828
$grey-color-light: #8e8e8e
$grey-color-dark:  #181818

// Container & Grid
$grid_container:        970px
$grid_gutter:           30px
