html
  box-sizing: border-box
  min-width: 320px

*,
*:before,
*:after
  position: relative
  box-sizing: inherit

::selection
  color: $text-color
  background: rgba($brand-prime, 0.99)

::-moz-selection
  color: $text-color
  background: $brand-prime

*:focus
  outline: 5px auto $brand-prime

.page
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  color: $text-color
  background: $bg-color
  -webkit-font-smoothing: antialiased