html
  box-sizing: border-box
  position: relative
  min-height: 100%
  min-width: $container-min

*,
*:before,
*:after
  box-sizing: inherit

::selection
  color: $text-color
  background: rgba($brand-prime, 0.99)

::-moz-selection
  color: $text-color
  background: $brand-prime

*:focus
  outline: 5px auto $brand-prime

.page
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  color: $text-color
  background: $bg-color
  -webkit-font-smoothing: antialiased

.container
  max-width: $container
  margin-right: auto
  margin-left: auto
  padding-left: 40px
  padding-right: 40px
  +clearfix
  @media (min-width: 800px)
    padding-left: floor(($grid-gutter / 2))
    padding-right: ceil(($grid-gutter / 2))
