html
  box-sizing: border-box
  position: relative
  min-height: 100%
  min-width: 320px

*,
*:before,
*:after
  box-sizing: inherit

::selection
  color: $text-color
  background: rgba($brand-second, 0.99)

::-moz-selection
  color: $text-color
  background: $brand-second

*:focus
  outline: 5px auto $brand-prime

.page
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  color: $text-color
  background: #000

.container
  max-width: 760px
  margin: 0 auto
  padding: 0 30px
