.card
  text-align: center
  // background: $background-color
  // transform-origin: center
  // transform: perspective(600px) rotateY(-10deg)
  // transition: all .3s ease-out
  // &.animate
  //   animation: infoAnimate 1s ease-out
  // &:hover
  //   transform: perspective(600px) rotateY(0)

  &__title
    margin-bottom: 8px

  &__desc
    color: $grey-color-light
    line-height: 1.2

  &__text
    overflow: hidden
    margin-bottom: 10px
    line-height: 1.6

  &__skills
    margin-bottom: 20px

  &__social
    margin-bottom: 20px
