.card
  text-align: center

  &__title
    font-size: 36px
    font-weight: 600
    line-height: 1.1
    margin-bottom: 5px

  &__desc
    color: $grey-color-light
    line-height: 1.2
    margin-bottom: 5px

  &__text
    overflow: hidden
    margin-bottom: 10px
    line-height: 1.6

  &__skills
    margin-bottom: 20px

  &__social
    margin-bottom: 20px
