// .page
/* Padding bottom by footer height */
// padding-bottom: $footer-height

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: $footer-height
  background: $grey-color
