---
layout: default
---

<div class="info">
  <div class="container">
    <div class="card">
      <h1 class="card__title">Александр Нестеров</h1>
      <div class="card__desc">
        Веб-разработчик
      </div>
      <div class="card__text">
        <p>Специализируюсь на фронтенде.<br>Верстаю, перевожу дизайн-макеты в код. Делаю несложные сайты.<br>Перфекционист, люблю веб и минимализм.</p>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="container">
    <div class="skills__wrap">
      <div class="skills__item">
        HTML
        {% include skills_svg/html-5.svg %}
      </div>
      <div class="skills__item">
        CSS
        {% include skills_svg/css-3.svg %}
      </div>
      <div class="skills__item">
        JS
        {% include skills_svg/javascript.svg %}
      </div>
      <div class="skills__item">
        jQuery
        {% include skills_svg/jquery.svg %}
      </div>
      <div class="skills__item">
        Pug
        {% include skills_svg/pug.svg %}
      </div>
      <div class="skills__item">
        Sass
        {% include skills_svg/sass.svg %}
      </div>
      <div class="skills__item">
        Gulp
        {% include skills_svg/gulp.svg %}
      </div>
      <div class="skills__item">
        Git
        {% include skills_svg/git.svg %}
      </div>
      <div class="skills__item">
        Svg
        {% include skills_svg/svg.svg %}
      </div>
    </div>
  </div>
</div>
